@media screen and (min-width: 1000px){
    *{
        margin: 0;
        padding: 0;
        font-family: arial;
    }

    .atas{
        width: 100%;
        position: absolute;
        left: 0;
        top: 187px;
        z-index: -1;
    }

    .kiri{
        width: 20%;
        position: absolute;
        left: 0;
        top: 390px;
        z-index: -1;
    }

    .kanan{
        width: 30%;
        position: absolute;
        right: 0;
        bottom: -100px;
        z-index: -1;
    }


    .header{
        background-color: #fa777e;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding: 10px;
        align-items: center;
    }
    .header img{
        margin-left: 30px;
        width: 120px;
    }

    .button a{
        color: white;
        font-size: 20px;
        margin-right: 50px;
        text-decoration: none;
        padding: 10px;
    }
    
    .button a:hover{
        background-color: #ec5a61;
    }

    .button{
        margin-right: 30px;
    }

    .profilePic img{
        border: 1px solid #000000;
        width: 150px;
        height: 150px;
        border-radius: 100%;

    }

    .profilePic{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .nmprof{
        font-size: 25px;
        border-bottom: solid 2px;
        margin-top: 10px;
    }

    .form{
        font-size: 16px;
        margin-left: 10px;
        border: none;
        border-radius: 5px;
        background-color: white;
        padding:  0  0  0 10px;
    }

    .profilepage{
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }

    .profile{
        border-radius: 5px;
        line-height: 1.4;
        display: flex;
        border: solid 1px;
        padding: 15px 15px 0px 15px ;
        background-color: #f5f5f5;
    }

    .container{
        display: flex;
        padding: 10px;
        border-bottom: 1px solid;
        width: 500px;
    }

    .delete {
        border-bottom: none;
    }

    .judul{
        padding: 10px;
        width: 150px;
        font-size: 18px;

    }
    .judul1{
        padding: 3px;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .container input{
        width: 100%;
    }

    .edit{
        margin-top: 5%;
        border: solid 0.5px;
        border-color: black;
        width: 30%;
        padding: 6px;
        text-align: center;
        background-color: #fa777e;
        color: white;
        border-radius: 30px;
        cursor: pointer;
    }



    .footer{
        background-color: #fa777e;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-text{
        margin-left: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .txt, .sosmed{
        padding: 15px; 
    }

    .footer a{
        color: white;
        font-size: 15px;
        text-decoration: none;
    }

    .footer a:hover{
        background-color: #ec5a61;
    }
    
    .footer img{
        width: 25px;
    }

    .footer-sosmed{
        margin-right: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}


@media (max-width:999px){
    *{
        margin: 0;
        padding: 0;
        font-family: arial;
    }
    
    .atas{
        width: 100%;
        position: absolute;
        left: 0;
        top: 19%;
        z-index: -1;
    }
    
    .kiri{
        width: 20%;
        position: absolute;
        left: 0;
        top: 30%;
        z-index: -1;
    }
    
    .kanan{
        width: 30%;
        position: absolute;
        right: 2%;
        bottom: 40%;
        z-index: -1;
    }
    
    .header{
        background-color: #fa777e;
        display: flex;
        justify-content: space-between;
        position: sticky;
        top: 0;
        padding: 10px;
        align-items: center;
    }
    
    .header img{
        margin-left: 5px;
        width: 11%;
    }
    
    .button{
        margin-right: 5px;
        width: 70%;
        text-align: right;
    }
    
    .button a{
        color: white;
        font-size: 2vw;
        margin-right: 3%;
        text-decoration: none;
        padding: 10px;
    }
    
    .button a:hover{
        background-color: #ec5a61;
    }
    
    
    .profilePic img{
        border: 1px solid #000000;
        width: 20%;
        height: 20%;
        border-radius: 100%;
    
    }
    
    .profilePic{
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    
    .nmprof{
        font-size: 5vw;
        border-bottom: solid 2px;
        margin-top: 10px;
    }
    
    .form{
        font-size: 3vw;
       
        border: none;
        border-radius: 5px;
        background-color: white;
        padding:  0  0  0 10px;
    }
    
    .profilepage{
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        margin-bottom: 40px;
    }
    

    .profile{
        border-radius: 5px;
        line-height: 1.4;
        display: flex;
        border: solid 1px;
        padding: 15px 15px 0px 15px ;
        background-color: #f5f5f5;
        justify-content: space-around;
        width: 80%;
    }
    
    .container{
        display: flex;
        padding: 2%;
        border-bottom: 1px solid;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .delete {
        border-bottom: none;
    }
    
    .judul{
        padding: 10px;
        width: 40%;
        font-size: 3vw;
    
    }
    .judul1{
        padding: 2%;
        text-align: center;

        font-size: 7vw;
    }
    
    .container input{
        width: 100%;
    }
    
    
    .edit{
        margin-top: 5%;
        border: solid 0.5px;
        border-color: black;
        width: 8%;
        font-size: 3vw;
        padding: 6px;
        text-align: center;
        background-color: #fa777e;
        color: white;
        border-radius: 30px;
        cursor: pointer;
    }
    
    
    
    .footer{
        background-color: #fa777e;
        display: flex;
        justify-content: space-between;
        
        align-items: center;
    }
    
    .footer-text{
        margin-left: 1%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .txt, .sosmed{
        padding: 10px;
        
    }
    
    .footer a{
        color: white;
        font-size: 2vw;
        text-decoration: none;
    }
    .footer a:hover{
        background-color: #ec5a61;
    }
    
    .footer img{
        width: 3.5vw;
    }
    
    .footer-sosmed{
        margin-right: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
